.picture-container img {
    width: 15%;
    border-radius: 10px;
    margin: 10px;
}

.texts {
    width: 150%;
}

.texts img {
    width: 10%;
    height: 160px;
    border-radius: 10px;
}

.text-group {
    display: flex;
    margin: 10px;
    gap: 15px;
}

.txt {
    width: 54.5%;
}
